<form action="api/submit/query?name=modevo&type=java" method="post">

  <label for="usr">Species</label>
  <input type="text" class="form-control" id="species" value="human">

  <label for="meanone">Mean Trait One</label>
  <input type="number" step="0.001" class="form-control" id="meanone" value="0.0">

  <label for="meantwo">Mean Trait Two</label>
  <input type="number" step="0.001" class="form-control" id="meantwo" value="0.0">

  <label for="pheno1">phenotypicVarianceTraitOne</label>
  <input type="number" step="0.001" class="form-control" id="pheno1" value="0.0">

  <label for="pheno2">phenotypicVarianceTraitTwo</label>
  <input type="number" step="0.001" class="form-control" id="pheno2" value="0.0">

  <label for="heritability">heritability</label>
  <input type="number" step="0.001" class="form-control" id="heritability" value="0.0">

  <label for="optim1">optimum Trait One</label>
  <input type="number" step="0.001" class="form-control" id="optim1" value="0.0">

  <label for="optim2">optimum Trait Two</label>
  <input type="number" step="0.001" class="form-control" id="optim2" value="0.0">

  <label for="variance1">variance Trait One</label>
  <input type="number" step="0.001" class="form-control" id="variance1"value="0.0">

  <label for="variance2">variance Trait Two</label>
  <input type="number" step="0.001" class="form-control" id="variance2" value="0.0">

  <label for="attenuationCoefficient">attenuationCoefficient</label>
  <input type="number" step="0.001" class="form-control" id="attenuationCoefficient" value="0.0">

  <label for="meanInterceptReactionNorm">meanInterceptReactionNorm</label>
  <input type="number" step="0.001" class="form-control" id="meanInterceptReactionNorm">

  <label for="meanSlopeReactionNorm">meanSlopeReactionNorm</label>
  <input type="number" step="0.001" class="form-control" id="meanSlopeReactionNorm">

  <label for="phenotypicVarianceInterceptReactionNorm">phenotypicVarianceInterceptReactionNorm</label>
  <input type="number" step="0.001" class="form-control" id="phenotypicVarianceInterceptReactionNorm" value="0.0">

  <label for="phenotypicVarianceSlopeReactionNorm">phenotypicVarianceSlopeReactionNorm</label>
  <input type="number" step="0.001" class="form-control" id="phenotypicVarianceSlopeReactionNorm" value="0.0">

  <label for="doseInitial">doseInitial</label>
  <input type="number" step="0.001" class="form-control" id="doseInitial" value="0.0">

  <label for="meanPreference">meanPreference</label>
  <input type="number" step="0.001" class="form-control" id="meanPreference" value="0.0">

  <label for="phenotypicVariancePreference">phenotypicVariancePreference</label>
  <input type="number" step="0.001" class="form-control" id="phenotypicVariancePreference" value="0.0">

  <label for="transmittance">transmittance</label>
  <input type="number" step="0.001" class="form-control" id="transmittance" value="0.0">

  <label for="slopeConcentration">slopeConcentration</label>
  <input type="number" step="0.001" class="form-control" id="slopeConcentration" value="0.0">

  <label for="numIterations">numIterations</label>
  <input type="number" step="0.001" class="form-control" id="numIterations" value="0">

  <label for="simPopSize">numIterations</label>
  <input type="simPopSize" step="0.001" class="form-control" id="simPopSize" value="0">

  <button type="button" value="submit" class="btn btn-primary">Submit</button>
</form>
