<form action="api/submit/query?name=ModEvo&type=java" method="post">

  <label for="species">Species</label>
  <input name="species" type="text" class="form-control" id="species" value="human">

  <label for="meanone">Mean Trait One</label>
  <input name="meanone" type="number" step="0.001" class="form-control" id="meanone" value="1.0">

  <label for="meantwo">Mean Trait Two</label>
  <input name="meantwo" type="number" step="0.001" class="form-control" id="meantwo" value="0.0">

  <label for="pheno1">phenotypicVarianceTraitOne</label>
  <input name="pheno1" type="number" step="0.001" class="form-control" id="pheno1" value="0.0">

  <label for="pheno2">phenotypicVarianceTraitTwo</label>
  <input name="pheno2" type="number" step="0.001" class="form-control" id="pheno2" value="0.0">

  <label for="heritability">heritability</label>
  <input name="heritability" type="number" step="0.001" class="form-control" id="heritability" value="0.0">

  <label for="optim1">optimum Trait One</label>
  <input name="optim1" type="number" step="0.001" class="form-control" id="optim1" value="0.0">

  <label for="optim2">optimum Trait Two</label>
  <input name="optim2" type="number" step="0.001" class="form-control" id="optim2" value="0.0">

  <label for="variance1">variance Trait One</label>
  <input name="variance1" type="number" step="0.001" class="form-control" id="variance1" value="0.0">

  <label for="variance2">variance Trait Two</label>
  <input name="variance2" type="number" step="0.001" class="form-control" id="variance2" value="0.0">

  <label for="attenuationCoefficient">attenuationCoefficient</label>
  <input name="attenuationCoefficient" type="number" step="0.001" class="form-control" id="attenuationCoefficient" value="0.0">

  <label for="meanInterceptReactionNorm">meanInterceptReactionNorm</label>
  <input name="meanInterceptReactionNorm" type="number" step="0.001" class="form-control" id="meanInterceptReactionNorm" value="0.0">

  <label for="meanSlopeReactionNorm">meanSlopeReactionNorm</label>
  <input name="meanSlopeReactionNorm" type="number" step="0.001" class="form-control" id="meanSlopeReactionNorm" value="0.0">

  <label for="phenotypicVarianceInterceptReactionNorm">phenotypicVarianceInterceptReactionNorm</label>
  <input name="phenotypicVarianceInterceptReactionNorm" type="number" step="0.001" class="form-control" id="phenotypicVarianceInterceptReactionNorm" value="0.0">

  <label for="phenotypicVarianceSlopeReactionNorm">phenotypicVarianceSlopeReactionNorm</label>
  <input name="phenotypicVarianceSlopeReactionNorm" type="number" step="0.001" class="form-control" id="phenotypicVarianceSlopeReactionNorm" value="0.0">

  <label for="doseInitial">doseInitial</label>
  <input name="doseInitial" type="number" step="0.001" class="form-control" id="doseInitial" value="0.0">

  <label for="meanPreference">meanPreference</label>
  <input name="meanPreference" type="number" step="0.001" class="form-control" id="meanPreference" value="0.0">

  <label for="phenotypicVariancePreference">phenotypicVariancePreference</label>
  <input name="phenotypicVariancePreference" type="number" step="0.001" class="form-control" id="phenotypicVariancePreference" value="0.0">

  <label for="transmittance">transmittance</label>
  <input name="transmittance" type="number" step="0.001" class="form-control" id="transmittance" value="0.0">

  <label for="slopeConcentration">slopeConcentration</label>
  <input name="slopeConcentration" type="number" step="0.001" class="form-control" id="slopeConcentration" value="0.0">

  <label for="numIterations">numIterations</label>
  <input name="numIterations" type="number" step="0.001" class="form-control" id="numIterations" value="0">

  <label for="simPopSize">numIterations</label>
  <input name="simPopSize" type="simPopSize" step="0.001" class="form-control" id="simPopSize" value="0">

  <input type="submit" value="submit" class="btn btn-primary">
</form>
