html{
  height: 100%;
}

img{
  max-height: 100%;
  max-width: 100%;
}

canvas{
  max-height: 500px;
}

body{
  height: 100%;
  background: rgb(236,242,246);
}

i{
  padding-right: 10px;
}

#sidebar{
  width: 250px;
  height: 100%;
  background: #354052;
  color: #A0ABBF;
  font-size: 20px;
  float: left;
}

#prog{
  height: 75px;
  line-height: 75px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #303A4A;
  font-size: 30px;
  padding-left: 20px;
}

#models{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.08);
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #303A4A;
}

#results{
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 0.08);
  border-top-width: 2px;
}

#dashWrapper{
  float: left;
  height: 100%;
  overflow-y: auto;
  /* Firefox */
  width: -moz-calc(100% - 250px);
  /* WebKit */
  width: -webkit-calc(100% - 250px);
  /* Opera */
  width: -o-calc(100% - 250px);
  /* Standard */
  width: calc(100% - 250px);
}

#dash{
  max-width: 2000px;
  min-width: 1000px;
  padding: 20px;
}

#nav{
  height: 75px;
  width: 100%;
  background: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgba(226,226,226,1);
}

#navContent{
  width:100%;
  height: 100%;
  line-height: 75px;
  max-width: 2000px;
}

#navContent a{
  color: #9BA3AF;
  font-size: 14px;
  font-weight: bold;
}

#navContent a:hover{
  color: white;
  background: rgba(21,164,250,0.5);
  text-decoration: none;
}

#navContent span{

  color: white;
  font-size: 14px;
  background: #15A4FA;
  font-weight: bold;
  box-shadow: inset 0 -3px 0 0 #3884B1;
}

.header{
  font-weight: bold;
  color: #65748D;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.menu-item{
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  cursor: pointer;
}

.item{
  width:48%;
  margin: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.selected{
  color: white;
  font-weight: bold;
  background: #2F3949;
  padding-left: 15px;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #15A4FA;
}

.right{
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}

.panel{
  -webkit-box-shadow: 0px 2px 0px 0px rgba(226,226,226,1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(226,226,226,1);
  box-shadow: 0px 2px 0px 0px rgba(226,226,226,1);
}

.panel-body{
  max-height: 500px;
}

.scroll{
  overflow-y: scroll;
}

.download{
  cursor: pointer;
}

.download:hover{
  color: blue;
}

.half{
  width: 50%;
}
