<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ModEvo Model 1</h3>
  </div>

  <div class="panel-body">


    <div class="col-md-12">
      <div class="col-xs-4 form-group">

        <div class="row">
          <label for="chartSelector">Choose Charting Type</label>
          <br>
          <select ng-model="graphType" id="chartSelector" ng-options="x for x in types" ng-change="loadData()"></select>
        </div>

        <div class="row" ng-show="graphType == 3">
            <label for="chartOption1">Max</label>
            <input name="24" type="number" step="0.001" class="form-control" id="chartOption1" ng-model="max" ng-change="loadData()">
            <label for="chartOption2">Slope</label>
            <input name="24" type="number" step="0.001" class="form-control" id="chartOption2" ng-model="slope" ng-change="loadData()">
            <label for="chartOption3">Shift</label>
            <input name="24" type="number" step="0.001" class="form-control" id="chartOption3" ng-model="shift" ng-change="loadData()">
          </div>
        </div>



      <div class="col-md-8">
        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick" chart-options="opt"></canvas>
      </div>

    </div><!--end of top col-md-12 group-->

    <br>

    <div class="col-xs-12 form-group">
      <label for="species">Species</label>
      <input name="1" type="text" class="form-control sending" id="species" value="Daphnia">
    </div>

    <div class="col-xs-4 form-group">
      <label for="meanTraitOne">Mean Trait One</label>
      <input name="2" type="number" step="0.001" class="form-control sending" id="meanTraitOne" value="2.5">
    </div>

    <div class="col-xs-4 form-group">
      <label for="meanTraitTwo">Mean Trait Two</label>
      <input name="3" type="number" step="0.001" class="form-control sending" id="meanTraitTwo" value="1.0">
    </div>

    <div class="col-xs-4 form-group">
      <label for="phenotypicVarianceTraitOne">Phenotypic Variance Trait One</label>
      <input name="4" type="number" step="0.001" class="form-control sending" id="phenotypicVarianceTraitOne" value="0.04">
    </div>

    <div class="col-xs-4 form-group">
      <label for="phenotypicVarianceTraitTwo">Phenotypic Variance Trait Two</label>
      <input name="5" type="number" step="0.001" class="form-control sending" id="phenotypicVarianceTraitTwo" value="0.2">
    </div>

    <div class="col-xs-4 form-group">
      <label for="heritability">heritability</label>
      <input name="6" type="number" step="0.001" class="form-control sending" id="heritability" value="0.5">
    </div>

    <div class="col-xs-4 form-group">
      <label for="optimumTraitOne">Optimum Trait One</label>
      <input name="7" type="number" step="0.001" class="form-control sending" id="optimumTraitOne" value="0.4">
    </div>

    <div class="col-xs-4 form-group">
      <label for="optimumTraitTwo">Optimum Trait Two</label>
      <input name="8" type="number" step="0.001" class="form-control sending" id="optimumTraitTwo" value="12.0">
    </div>

    <div class="col-xs-4 form-group">
      <label for="varianceTraitOne">Variance Trait One</label>
      <input name="9" type="number" step="0.001" class="form-control sending" id="varianceTraitOne" value="100.0">
    </div>

    <div class="col-xs-4 form-group">
      <label for="varianceTraitTwo">Variance Trait Two</label>
      <input name="10" type="number" step="0.001" class="form-control sending" id="varianceTraitTwo" value="500.0">
    </div>

    <div class="col-xs-4 form-group">
      <label for="attenuationCoefficient">Attenuation Coefficient</label>
      <input name="11" type="number" step="0.001" class="form-control sending" id="attenuationCoefficient" value="0.24">
    </div>

    <div class="col-xs-4 form-group">
      <label for="meanInterceptReactionNorm">Mean Intercept Reaction Norm</label>
      <input name="12" type="number" step="0.001" class="form-control sending" id="meanInterceptReactionNorm" value="2.5">
    </div>

    <div class="col-xs-4 form-group">
      <label for="meanSlopeReactionNorm">Mean Slope Reaction Norm</label>
      <input name="13" type="number" step="0.001" class="form-control sending" id="meanSlopeReactionNorm" value="0.0">
    </div>

    <div class="col-xs-4 form-group">
      <label for="phenotypicVarianceInterceptReactionNorm">Phenotypic Variance Intercept Reaction Norm</label>
      <input name="14" type="number" step="0.001" class="form-control sending" id="phenotypicVarianceInterceptReactionNorm" value="0.2">
    </div>

    <div class="col-xs-4 form-group">
      <label for="phenotypicVarianceSlopeReactionNorm">Phenotypic Variance Slope Reaction Norm</label>
      <input name="15" type="number" step="0.001" class="form-control sending" id="phenotypicVarianceSlopeReactionNorm" value="0.2">
    </div>

    <div class="col-xs-4 form-group">
      <label for="doseInitial">Dose Initial</label>
      <input name="16" type="number" step="0.001" class="form-control sending" id="doseInitial" value="27.9">
    </div>

    <div class="col-xs-4 form-group">
      <label for="meanPreference">Mean Preference</label>
      <input name="17" type="number" step="0.001" class="form-control sending" id="meanPreference" value="10.0">
    </div>

    <div class="col-xs-4 form-group">
      <label for="phenotypicVariancePreference">Phenotypic Variance Preference</label>
      <input name="18" type="number" step="0.001" class="form-control sending" id="phenotypicVariancePreference" value="0.5">
    </div>

    <div class="col-xs-4 form-group">
      <label for="transmittance">Transmittance</label>
      <input name="19" type="number" step="0.001" class="form-control sending" id="transmittance" value="0.8">
    </div>

    <div class="col-xs-4 form-group">
      <label for="slopeConcentration">Slope Concentration</label>
      <input name="20" type="number" step="0.001" class="form-control sending" id="slopeConcentration" value="-0.14">
    </div>

    <div class="col-xs-4 form-group">
      <label for="numIterations">numIterations</label>
      <input name="21" type="number" step="0.001" class="form-control sending" id="numIterations" value="25">
    </div>


    <div class="col-xs-4 form-group">
      <label for="simPopSize">simPopSize</label>
      <input name="22" type="number" step="0.001" class="form-control sending" id="simPopSize" value="50">
    </div>

    <div class="col-xs-4 form-group">
      <label for="meanSelection">meanSelection</label>
      <input name="23" type="text" class="form-control sending" id="meanSelection" value="analytical">
    </div>
    <br>

    <div class="col-xs-4 form-group">
      <button ng-click="send('ModEvo_Model-2')" class="btn btn-primary" ng-class="{true: 'disabled'}[working == true]">TestSubmit</button>
    </div>
  </div>
</div>
