<head>
<!--Import Google Icon Font-->
 <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
<div class="container">
	<p>please select a xml file</p>

	<form action="/programs/sampleProgs" method="POST">
		<p>
			<input name="xml" type="radio" name="button1" id="1" value="xmlFile1.xml">
			<label for="1">XML 1</input>
		</p>
		
		<p>
			<input name="xml" type="radio" name="button2" id="2" value="xmlFile2.xml">
			<label for="2">XML 2</input>
		</p>

		<p>
			<input name="xml" type="radio" name="button3" id="3" value="xmlFile3.xml">
			<label for="3">XML 3</input>
		</p>
		<button type="submit" value="submit" class="waves-effect waves-light btn">
		Submit
		</button>
	</form>
</div>
</body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
