<p>please select a xml file</p>

<form action="/programs/sampleProgs" method="POST">
	XML 1: <input name="xml" type="radio" name="button1" value="xmlFile1.xml"> <br>
	XML 2: <input name="xml" type="radio" name="button2" value="xmlFile2.xml"> <br>
	XML 3: <input name="xml" type="radio" name="button3" value="xmlFile2.xml"> <br>
	<br>
	<input type="submit" value="submit">
</form>
