<form>
    <input ng-model="radio" name="xml" type="radio" name="button1" id="1" value="xmlFile1.xml">
    <label for="1">XML 1</input>
    <input ng-model="radio" name="xml" type="radio" name="button2" id="2" value="xmlFile2.xml">
    <label for="2">XML 2</input>
    <input ng-model="radio" name="xml" type="radio" name="button3" id="3" value="xmlFile3.xml">
    <label for="3">XML 3</input>
  <button type="button" value="submit" class="btn btn-primary" ng-click="send()">Submit</button>
</form>
