<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Charting css -->
  <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

  <!-- Custom CSS -->
  <link href="css/dashboard.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="dashboard" ng-controller="MainCtrl">

  <!-- <div class="container-fluid">
		<div ng-include="'/html/header.html'"></div>
	</div> -->

  <!-- Sidebar -->
  <div id="sidebar">
    <div id="prog">
      {{prog}}
    </div>
    <div id="models">
      <div class="header">
        <i class="fa fa-cogs"></i>Models
      </div>
      <span ng-repeat="item in software track by $index">
  				<div class="item" ng-click="loadSoftware(item, $event)">
            {{item}}
  				</div>
      </span>
    </div>

    <div id="results">
      <div class="header">
        <i class="fa fa-area-chart"></i>Results
      </div>
      <div class="item" ng-show="results == null">
        no results yet :(
      </div>
      <span ng-repeat="item in results track by $index">
          <div class="item" ng-click="loadResult(item.Name, $event)">
            {{item.Name}}
          </div>
      </span>
    </div>

  </div><!-- end of sidebar -->

  <div id="dashWrapper">
    <div id="nav">
      Test
    </div>
    <div id="dash">
      <h1>Dashboard</h1>
      <p>This area will be populated with data from the menu item selected on the left</p>
    </div>
  </div>

  <!-- /#page-content-wrapper -->
</body>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Angular js stuff -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>

<!-- Charting Stuff -->
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

<!-- Masonry for result panels -->


<!-- Main controller script -->
<script src="js/chartify.js"></script>
<script src="js/htmlify.js"></script>
<script src="js/dashboard.js"></script>

<!-- Menu Toggle Script -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

</html>
