<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Charting css -->
  <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

  <!-- Custom CSS -->
  <link href="css/dashboard.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="dashboard">

  <!-- <div class="container-fluid">
		<div ng-include="'/html/header.html'"></div>
	</div> -->

  <!-- Sidebar -->
  <div id="sidebar" ng-controller="SideBarCtrl">
    <div id="prog">
      {{prog}}
    </div>
    <div id="models">
      <div class="header">
        <i class="fa fa-cogs"></i>Models
      </div>
      <span ng-repeat="item in software track by $index">
  				<div class="menu-item" ng-click="loadSoftware(item, $event)">
            {{item}}
  				</div>
      </span>
    </div>

    <div id="results">
      <div class="header">
        <i class="fa fa-area-chart"></i>Results
      </div>
      <div class="menu-item" ng-show="results.length == 0">
        no results yet :(
      </div>

      <span ng-repeat="model in software track by $index">
        <div class="subHeader">{{model}}</div>
        <span ng-repeat="item in results track by $index">
            <div class="menu-item" ng-click="loadResult(item.Name, $event)" ng-show="item.Type == model">
              {{item.Name}}
            </div>
        </span>
      </span>

    </div>

  </div><!-- end of sidebar -->

  <div id="dashWrapper">
    <div id="nav">
      <div id="navContent">
        <a class="right" href="/logout">Logout</a>
        <a class="right" href="/login">Login</a>
        <a class="right" href="/people">People</a>
        <a class="right" href="/publications">Pulbications</a>
        <span class="right">Computational Tools</span>
        <a class="right" href="/">Home</a>
      </div>
    </div>
    <div id="dash" ui-view>

    </div>
  </div>

  <!-- /#page-content-wrapper -->
</body>
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Angular js stuff -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>

<!-- Charting Stuff -->
<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

<!-- Main controller script -->
<script src="js/chartify.js"></script>
<script src="js/parser.js"></script>
<script src="js/dashboard.js"></script>
</html>
