{{ define "content" }}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>People</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/test.css" rel="stylesheet">
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

		{{template "header"}}
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>People</h1>
            </div>
        </div>
        <hr>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-2">
                <img src="http://americasbest401k.com/wp-content/uploads/2015/02/person-icon.png" style="width: 100%;"></img>
            </div>
            <div class="col-lg-10">
                <h3>Elizabeth Brooks</h3>
                  <p>
                    Elizabeth started working with Filip in Spring 2013. She is co-advised by Ali Scoville, Biology CWU, and is developing an extensible infrastructure for inferring the co-variance of complex biological traits.
                  </p>
            </div>
        </div>

        <div class="row rowMargin">
            <div class="col-lg-2">
                <img src="http://americasbest401k.com/wp-content/uploads/2015/02/person-icon.png" style="width: 100%;"></img>
            </div>
            <div class="col-lg-10">
                <h3>Sean Beseler</h3>
                  <p>
                    Sean has been working with Filip since fall 2015. He's developing the normal and bivariate Gaussian distribution models which are used to generate sample populations in the lab's on-going co-variance work.
                  </p>
            </div>
        </div>

        <div class="row rowMargin">
            <div class="col-lg-2">
                <img src="http://americasbest401k.com/wp-content/uploads/2015/02/person-icon.png" style="width: 100%;"></img>
            </div>
            <div class="col-lg-10">
                <h3>Tim Wood</h3>
                  <p>
                    Tim has worked with Filip (in on-going work with collaborator Brian Chen from Lehigh University) since the start of 2016. He's developed several python programs for processing and analyzing rigidity and cavity data for more than 80,000 of the X-ray crystallography resolves structures in the Protein Data Bank.
                 </p>
            </div>
        </div>

        <div class="row rowMargin">
            <div class="col-lg-2">
                <img src="http://americasbest401k.com/wp-content/uploads/2015/02/person-icon.png" style="width: 100%;"></img>
            </div>
            <div class="col-lg-10">
                <h3>Ramesh Kumar</h3>
                  <p>
                    Ramesh is a graduate student working with Filip (in on-going work with collaborator Nurit Haspel from the University of Massachusetts) on a project to systematically determine which machine learning method(s) are best suited to identify from rigidity and biology data which residues in a biomolecule contribute most to the protein's stability.
                 </p>
            </div>
        </div>

        <div class="row rowMargin">
            <div class="col-lg-2">
                <img src="http://americasbest401k.com/wp-content/uploads/2015/02/person-icon.png" style="width: 100%;"></img>
            </div>
            <div class="col-lg-10">
                <h3>Jesse Sliter</h3>
                  <p>
                    Jesse is an undergrad student working with Filip on a project to create a we platform for research studies and tools.
                 </p>
            </div>
        </div>

        <div class="row rowMargin">
            <div class="col-lg-2">
                <img src="http://americasbest401k.com/wp-content/uploads/2015/02/person-icon.png" style="width: 100%;"></img>
            </div>
            <div class="col-lg-10">
                <h3>Rainier Harvey</h3>
                  <p>
                    Rainer is an undergrad student working with Filip on a project to create a we platform for research studies and tools.
            </div>
        </div>

        <div class="row rowMargin">
            <div class="col-lg-2">
                <img src="http://americasbest401k.com/wp-content/uploads/2015/02/person-icon.png" style="width: 100%;"></img>
            </div>
            <div class="col-lg-10">
                <h3>Rebecca Hsieh</h3>
                  <p>
                    Rebecca is an undergrad student working with Filip on a project to create a we platform for research studies and tools.
                 </p>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
{{ end }}
