<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Publications</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/other.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>

<body ng-app="">
   <div id="dashWrapper">
      <div id="nav" ng-controller="Nav">
        <div id="navContent">
           <a class="right" href="/science">Science</a>
		     <a class="right" href="/quickstart"> Quick Start</a>
		     <span class="right">Publications</span>
           <a class="right" href="/people">People</a>
           <a class="right" href="/contact">Contact</a>
		     <a class="right" href="/dashboard">Computational Tools</a>
         </div>
       </div>
    </div>
    <!-- Templates get injected here -->
    <div id="dash" ui-view>

    </div>

	 <div class="container">
		 <div ng-include="'/html/header.html.html'"></div>
		    <div class="row">
				 <div class="col-lg-12">
					 <h1>Publications</h1>
				 </div>
			 </div>
			 <hr>

			 <div class="row">
				 <div class-"col-lgl10">
					 <h5>An Extensible Software Infrastructure for Testing the Evolutionary Consequences of Developmental Interactions</h5>
					    <p>Quantitative genetic models commonly use the additive geometric variance-covariance matrix (G-matrix) of a set of traits to predict evolution in response to selection.  However, non-linear interactions between developmental factors underlying the production of traits can produce dramatic changes to the G-matrix.  To our knowledge there are no freely available tools for predicting the effect of non-linear interactions on evolutionary dynamics.  We have developed a code base and built two models for testing hypothesis about the effects of specific non-linear developmental interactions on trait (c0)variances and ultimately evolutionaru trajectories.</p>

				 </div>
			 </div>
		 </div>
	 </div>
		 
    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
