<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Publications</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/other.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!--<style>-->
    <!--body {-->
        <!--padding-top: 70px;-->
        <!--/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */-->
    <!--}-->
    <!--</style>-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="">

    <!-- Page Content -->
  <div id="dashWrapper">
    <div id="nav" ng-controller="Nav">
      <div id="navContent">
        <span class="right">Science</span>
		  <a class="right" href="/quickstart">Quick Start</a>
		  <a class="right" href="/publications">Publications</a>
        <a class="right" href="/people">People</a>
        <a class="right" href="/contact">Contact</a>
		  <a class="right" href="/dashboard">Computational Tools</a>
      </div>
    </div>

    <!-- Templates get injected here -->
    <div id="dash" ui-view>

    </div>


  </div>
    <div class="container">
      <div ng-include="'/html/header.html'"></div>
        <div class="row">
            <div class="col-lg-12">
                <h1>About this Science</h1>
                <hr>
                <div class="list-group">
						 <h3>Our Program</h3>
						    <hr>
					       <p>We have developed a codebase, ModEvo, that impliments a novel mathematical framework derived by Rice for predicting the evolution of phenotypic traits that share at least some underlying developmental factors.  Additionally, the object-oriented code base is generalized to allow users to easily develop custom models for studying the evolution of a pokemon.</p>
                      <p>With our program, users can develop custom simulations for analyzing the evolution of multiple phenotypic traits by allowing non-additive developmental interactions between specific traits.  Simulations of evolutionary processes using our updated framework may aid in the study of phenotypic evolution, multilevel selection, and social evolution for the fields of evolutionary developmental biology, quantitative genetics and ecology.  The simulations produced by ModEvo may be used to analyze the strength of selection on the co-variance of traits, as well as the constancy of the G-matrix by comparative analysis to traditional, G-matrix based models.</p>
                   <h3>Significance</h3>
						    <hr>
                      <p>A primary goal of evolutionary biology is to predict the effects of selection on the evolution of traits.  The multivariate evolutionary response of a population depends upon patterns of inheretece as well as the strength and direction of selection.  The additive genetic variance-covariance matrix (G-matrix), which summarizes the distribution of genetic variance among multiple traits, is a general concept in evolutionary theory and quantitative genetics.  The geometry of the G-matrix quantifies genetic constraints that hinder, facilitate, or bias evoluion towards "genetic lines of least resistance," the direction in which most genetic variation exists. However, the predictive power of the G-matrix based upon models depends upon the stability of the matrix, which is not clearly understood.</p>
                      <p>Shared developmental processes represent a principal contributor to the geometry of the G-matrix.  In fact, the G-martix is generally assumed to efficiently and satisfactorily capture the developmental association between traits for the purposes of predicting evolutionary trajectories.  To predict evolution in response to selection, the G-matrix is assumed to either remain constant or change proportionally to the original matrices. However, nonadditive developmental interactions can dramatically alter genetic variances and co-variances of traits, rendering aproaches based upon a constant G-matrix questionable.</p>
                   <h3>Background</h3>
						    <hr>
                      <p>A revolutionary mathematical and conceptual framework derived by Sean Rice explicitly incorporates the effects of non-additive developmental interactions on the evolution of traits.  This framework encompasses quantitative genetics as a special case. but is far more flexible, allowing for the exploration of the effects of different types of selection, under essentially any form of genetic and developmental architecture.</p>
                      <p>A central concept of the framework is the phenotypic landscape, which is constructed by plotting the value of a phenotype against the values of the underlying genetic and environmental factors that interact in its development</p>
                      <p>The phenotypic landscape in figure 1 shows the melanic pigmentation in <em>Daphnia Melanica</em>, a species of freshwater zooplankton, as a function of average daytime depth (diel vertical migration, DVM) and sensitivity to induction via UVB radiation.  The strength and direction of selection is captured by the individual fitness surface, which describes the expected reproductive success of an individual as a function of its trait values.</p>
                      <p>The fitness surface in Figure 2, given by equation 1, depicts the expected fitness surface of <em>Daphnia melanica</em> in the presence of fish predators, based on its melanin pigmentation and tendency to move downwards in the water columns (DVM).  As represented in Figure 2, there exists a value of those two traits such that a maximum fitness is attained, depicted by the peak (plus sign).</p>
                   <h3>Program Development</h3>
							 <hr>
                      <p>We have developed an object-oriented code infrastructure that impliments the mathematical framework of Sean Rice, allowing a user to test hypotheses regarding the evolutionary consequences of non-linear developmental interaction.  As a case study, we have designed three models of increasing developmental complexity for projecting developmental trajectories specific to high-alpine populations of <em>Daphnia melanica</em>. ModEvo, can be extended to produce custom models for analyzing the evolution of trait means and co-variances for a given species of organisms and specific set of underlying genetic and environmental factors.</p>
                      <p>As a first-step, we have developed in the Java programming language a traditional, G-Matrix based model (Model One: Classic) for predicting the evolution of melanin (Equation 2) and DVM (Equation 3) over time, based on the current genetic co-variance of these traits and the natural selection imposed by a novel fish predator.  The variables and initial values used for testing Model One are in Table 1.</p>
                      <p>Next, we incorporated the updated mathematical and conceptual framework derived by Rice nto two increasingly advanced models to account for "developmental entanglement" DVM (Equation 4) and melanin (Equation 5). In the seond models (Model Two: Tanning), developmental entanglement arises from the fact that DVM influences exposure to UV radiation, which decays exponentially with depth in the water, and UV radiation stimulates production of melanin. The variable and initial values used for testing Model Two are given in Table 2.</p>
                      <p>The third model (Model Three: Tolerance) extends this entanglement (Equation 6) by allowing DVM (Equation 7) to be determined by behavioral avoidance of UV penetration, which is itself partially determined by melanin (Equation 8). The variables and initial values used for testing Model Three are given in Table 3.</p>
                      <p>Models Two and Three incorporate underlying developmental factors to project changes from generation <em>t</em> to generation <em>t+1</em> due to directional selection.  Evolutionary dynamics depend upon the partial derivatives of the fitness landscape, which is constructed by plotting the fitness values as a function of the two traits under investigation.</p>
                      <p>All three models are deterministic. However, mean population values and derivatives of the phenotypic landscape for Model Three are estimated via simulation, due to the complexity of the set of biologically relevant roots used for the system of equations describing these traits.  These mean trait values are then passed to the functions that calculate the new mean values in the next generation; this itterative process is used to predict the evolutionary response of both traits and is shown in the class structure diagram for ModEvo (Figure 3).
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
